@import 'config'

#page1
  @include page(red, false)
  color: contrast($cyan)
  background: url(res/wp.jpg) top left no-repeat
  background-size: cover

nav
  position: fixed
  ul
    display: table
    width: 100vw
    height: 50px
    min-width: 100vw
    background: rgba(0, 0, 0, .3)
    position: fixed

    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden

    #logo
      float: left
      position: absolute
      a
        @include link(white)

    li:not(#logo)
      float: right

      a
        @include transition(.3s)
        @include link(white)
        &:hover
          text-decoration: none
          background: white
          color: black


#git
  position: absolute
  background: rgba(255, 255, 255, .6)
  bottom: 0px
  @include handle(5vh)

  .icon_social
    @include transition(.3s)
    margin: 5px
    font-size: 2em
    cursor: pointer !important
    color: black
    &:hover, &:active, &:link
      text-decoration: none
    &:hover
      color: #fff

.madewithlove
  @include handle(5vh)
  background: white

  .madeText
    color: black
    display: table-cell
    text-align: center
    vertical-align: middle
